requests
python-dotenv
gradio
langchain
langchain-openai
langchain-core
langchain-chroma
chromadb
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-community
pypdf
edge-tts
openai-whisper